body{
  background-color: LightGrey;
  margin-left: 15%;
  margin-right: 15%;
}

.signstyle{
  text-align: centre;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  color: DarkGrey;
}

.centreimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
